<!DOCTYPE html>
<html>
    <head>
        <title>My App</title>
    </head>
    <!-- <body> 
        <img src="/static/cool.png"></img>
    </body> -->
    <link rel="stylesheet" href="style.css">


<body>

    <div class="center-container">
        <h1>Song Recommendatorinator</h1>
        
        <form action="/action_page.php">
          <label for="fname">Song: </label>
          <input type="text" id="fname" name="fname"><br><br>
          <label for="lname">Artist: </label>
          <input type="text" id="lname" name="lname"><br><br>
          <input type="submit" value="Submit">
        </form>

    </div>
    
    
    </body>
</html>